// 项目提供的scss的全局变量

// tabbar的宽度
$tabbar-width: 1440px;

// footer的宽度
$footer-height: 469px;

// 主题色
// $theme-color-blue: #1185e4;
// $theme-color-green: #2db1ba;

$theme-color-blue: #457fca;
$theme-color-green: #48c6ef;
$layout-header-height: 1.1667rem;
$layout-border-color: #dde4eb;
